*.cache
*.info
.idea
bin
obj
appCfg.json
ScioSkoly.Chat.sln.DotSettings.user
.vs
.vscode
TeReoLocalizer/TeReoLocalizer.sln.DotSettings.user
TeReoLocalizer/TeReoLocalizer.Shared/appCfg.json5
TeReoLocalizer/TeReoLocalizer.Shared/appCfg.json
TeReoLocalizer/TeReoLocalizer.sln.DotSettings
TeReoLocalizer/TeReoLocalizer.Shared/userSettings.json
TeReoLocalizer/TeReoLocalizer/wwwroot/index.g.html
TeReoLocalizer/TeReoLocalizer/wwwroot/indexBuilt.html
TeReoLocalizer/TeReoLocalizer.Shared/reoBoot.json
/TeReoLocalizer/TeReoLocalizer.Shared/DataProtectionKeys
/TeReoLocalizer/packages
/Plugins/Rider/.kotlin
/Plugins/Rider/.intellijPlatform
/Plugins/Rider/.kotlin
/Plugins/Rider/.run
/Plugins/Rider/gradle
TeReoLocalizer/TeReoLocalizer.Shared/PrebakedJsFiles.generated.cs
TeReoLocalizer/TeReoLocalizer.Shared/reoMgrProto.prebaked.js.txt
TeReoLocalizer/TeReoLocalizer.Shared/reoMgrProto.prebaked.js.map.txt
