@using TeReoLocalizer.Shared.Code
@inject IJSRuntime Js
@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public Localize Owner { get; set; }
    [CascadingParameter] 
    BlazingModalInstance BlazoredModal { get; set; } = default!;

    UserSettings settings = new UserSettings();
    ProjectSettings projectSettings = new ProjectSettings();
    bool showTips;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        settings = Owner.Settings.DeepClone();
        showTips = !settings.DisableTips;

        projectSettings = Owner.Project.Settings.DeepClone();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    async Task<FormResult> SubmitPreferences()
    {
        settings.DisableTips = !showTips;
        
        Owner.Settings = settings;
        await Owner.SaveUserSettings();
        await Cancel();

        return new FormResult(true);
    }

    async Task<FormResult> SubmitProject()
    {
        Owner.Project.Settings = projectSettings;
        await Owner.SaveProject();
        await Cancel();
        
        return new FormResult(true);
    }
    
    async Task Cancel()
    {
        await BlazoredModal.CloseAsync();
    }
}

<EdModal Size="ModalSizes.Large" Title="Nastavení">
    
    <div style="margin-bottom: 1rem; width: 100%;" class="d-flex align-items-start">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-tab-preferences" data-bs-toggle="pill" data-bs-target="#v-pills-preferences" type="button" role="tab">Osobní</button>
            <button class="nav-link" id="v-pills-tab-settings" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab">Projekt</button>
        </div>
        
        <div class="tab-content" id="v-pills-tabContent" style="width: 100%;">
            <div class="tab-pane show active" id="v-pills-preferences" role="tabpanel">
                <EdForm OnSubmit="SubmitPreferences">
                    <EdCheckbox Label="Zobrazit tipy vysvětlující funkce v aplikaci" @bind-Value="showTips" />
                    <EdButtonsContainer>
                        <EdButton Type="ButtonTypes.Submit">Uložit</EdButton>
                        <EdButton OnClick="Cancel" Design="ButtonDesigns.Cancel">Zrušit</EdButton>
                    </EdButtonsContainer>
                    <EdFormFeedback />
                </EdForm>
            </div>
            <div class="tab-pane" id="v-pills-settings" role="tabpanel">
                <EdForm OnSubmit="SubmitProject">
                    <EdTextarea Type="TextareaTypes.NativeLargeText" @bind-Value="projectSettings.TranslationProviders.DeepL.Context" Label="Kontext DeepL" />
                    <EdButtonsContainer>
                        <EdButton Type="ButtonTypes.Submit">Uložit</EdButton>
                        <EdButton OnClick="Cancel" Design="ButtonDesigns.Cancel">Zrušit</EdButton>
                    </EdButtonsContainer>
                    <EdFormFeedback />
                </EdForm>
            </div>
        </div>
    </div>
</EdModal>