@using BlazingModal
@using TeReoLocalizer.Shared.Code
@using TeReoLocalizer.Shared.Code.Commands
@code {
    [Parameter]
    public Key Key { get; set; }
    [Parameter]
    public Localize Owner { get; set; }
    [CascadingParameter] 
    BlazingModalInstance BlazoredModal { get; set; } = default!;
    
    bool saving;
    Key key = new Key();
    Key masterKey = new Key();
    bool ready;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        masterKey = Key;
        key = Key.DeepClone();
        key.Owner = Key.Owner;

        ready = true;
    }

    async Task HandleTranslatableToggle(bool translatable)
    {
        key.AutoTranslatable = translatable;
    }

    async Task Submit()
    {
        if (saving)
        {
            return;
        }
        
        saving = true;
        StateHasChanged();

        await Owner.Execute(new CmdSetKeySettings(masterKey, key));
        
        Owner.StateHasChanged();
        await BlazoredModal.CloseAsync();
    }
    
    async Task Cancel()
    {
        await BlazoredModal.CloseAsync();
    }
}

<EdModal Title="@($"Nastavení klíče <code>{Key.Name}</code>")">

    @if (ready)
    {
        <div style="margin-bottom: 1rem;">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" @bind:set="@(async (value) => await HandleTranslatableToggle(value))" @bind:get="key.AutoTranslatable" id="autoTranslate">
                <label class="form-check-label" for="autoTranslate">Automatický překlad</label>
            </div>
        </div>   
    }
    
    <EdButtonsContainer>
        <EdButton OnClick="Submit">Uložit</EdButton>
        <EdButton OnClick="Cancel" Design="ButtonDesigns.Cancel">Zrušit</EdButton>
    </EdButtonsContainer>
</EdModal>