@using BlazingModal
@using TeReoLocalizer.Shared.Code
@code {
    [Parameter]
    public Key Key { get; set; }
    [Parameter]
    public Localize Owner { get; set; }
    [CascadingParameter] 
    BlazingModalInstance BlazoredModal { get; set; } = default!;

    Decl selectedDecl;
    bool transferring;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        selectedDecl = Owner.Project.Decls.FirstOrDefault(x => x != Owner.Decl) ?? new Decl();
    }

    async Task HandleActiveDeclChange(ChangeEventArgs args)
    {
        if (args.Value is string str)
        {
            selectedDecl = Owner.Project.Decls.FirstOrDefault(x => x.Id == str) ?? new Decl();
        }
    }

    async Task Submit()
    {
        if (transferring)
        {
            return;
        }
        
        transferring = true;

        await Owner.TransferKey(Key, selectedDecl);
        
        transferring = false;
        await BlazoredModal.CloseAsync();
    }
    
    async Task Cancel()
    {
        await BlazoredModal.CloseAsync();
    }
}

<EdModal Title="@($"Přesunout klíč <code>{Key.Name}</code>")">

    <div style="margin-bottom: 1rem;">
        <select @onchange="HandleActiveDeclChange" class="form-select">
            @foreach (Decl x in Owner.Project.Decls)
            {
                if (x == Key.Owner)
                {
                    continue;
                }
                
                <option value="@x.Id">@(x.Name.IsNullOrWhiteSpace() ? "Skupina bez názvu" : x.Name)</option>
            }
        </select>
    </div>
    
    <EdButtonsContainer>
        <EdButton OnClick="Submit">Přesunout</EdButton>
        <EdButton OnClick="Cancel" Design="ButtonDesigns.Cancel">Zrušit</EdButton>
    </EdButtonsContainer>
</EdModal>