@using TeReoLocalizer.Shared.Code
@inherits ComponentBaseEx
@code {
    string afterMcfLoaded = General.IIID();
}
<div id="commonCss"></div>
<div id="modalUniversal" class="modal fade2" style="overflow-y: hidden;" tabindex="-1" role="dialog"></div>
@((MarkupString)$"<script>function {afterMcfLoaded}() {{ mcf.setAppVersion(\"{Consts.Entropy}\"); }}</script>")
<script src="/Scripts/jquery.js" onload="if (window['module']) {window.$ = window.jQuery = module.exports;}"></script>
<script src="/Scripts/nanoMcf.js" onload="@(afterMcfLoaded)()"></script>
<script>
    function loadBootstrap() {
        return new Promise((resolve, reject) => {
            const script = document.createElement('script');
            document.body.appendChild(script);
            script.onload = resolve;
            script.onerror = reject;
            script.async = true;
            script.src = '/Scripts/bootstrap.js';
        });
    }

    loadBootstrap().then(() => {
        if (typeof bootstrap !== 'undefined' && bootstrap.Dropdown) {
            bootstrap.Dropdown.Default.popperConfig = (defaultConfig) => {
                return {
                    ...defaultConfig,
                    strategy: 'fixed',
                    modifiers: [
                        {
                            name: 'preventOverflow',
                            options: {
                                rootBoundary: 'document',
                            },
                        },
                    ],
                };
            };
        }
    }).catch((error) => {
        console.error('Chyba při načítání Bootstrapu:', error);
    });
</script>

<div id="mcfRoot">
    <CascadingAuthenticationState>
        <CascadingBlazingModal>
            <AppUpdater />
            <Router AppAssembly="typeof(Program).Assembly">
                <Found Context="routeData">
                    <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)"/>
                    <FocusOnNavigate RouteData="routeData" Selector="h1"/>
                </Found>
            </Router>
        </CascadingBlazingModal>
    </CascadingAuthenticationState>
</div>